<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Товары и заказы</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{#link-to "tovar-list" class="nav-link"}}Товары{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<div style="padding:20px;">
    {{outlet}}
</div>
